@import '../../../styles/_variables.scss';

.main-navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: $main-nav-height;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.main-navbar-h {
  height: $main-nav-height;
}

.navbar-offset {
  padding-top: $main-nav-height;
}

.main-navbar-top {
  position: fixed;
  left: 0;
  right: 0;
  background: transparent !important;
  height: $main-nav-height;
}
