@import '../../../../styles/variables';

.fc-col-header-cell {
  background: var(--chakra-colors-brand-secondary);
  text-transform: uppercase;
}
.fc-day:not(.fc-col-header-cell) {
  @include smooth;

  background: white;
  cursor: pointer;
  &:hover {
    background: var(--chakra-colors-blackAlpha-50);
    border: 1px solid var(--chakra-colors-blackAlpha-200);
  }
}
