html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// .hover-bright {
//   @apply group-hover:brightness-105 brightness-100 transition-all;
// }

.anim-smooth {
  transition: all 0.2s ease-in-out !important;
  &:hover {
    transition: all 0.2s ease-in-out !important;
  }
}
.hover-opacity {
  opacity: 1;
  &:hover {
    opacity: 0.85;
  }
}
